.container {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  &_first {
    color: #60B021;
  }
}

.image {
  width: 40px;
  height: 40px;
}

.button_left {
  position: absolute;
  top: 130px;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 1;
}

.button_right {
  position: absolute;
  top: 118px;
  right: 0;
  transform: translateX(50%);
}